<div class="contacts">
    <form class="form">
        <h4 class="form__title">CONTACTS</h4>
        <p class="form__text">Sign up for our newsletter to receive updates</p>
        <input type="text" name="name" class="form__input" placeholder="Name">
        <input type="tel" name="phone" class="form__input" placeholder="Phone">
        <input type="email" name="email" class="form__input" placeholder="E-mail">
        <button type="submit" class="form__submit">send</button>
    </form>
</div>