<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3">
                <p class="footer__authority">All rights reserved 2015</p>
            </div>
            <div class="col-6">
                <ul class="socials">
                    <li class="socials__item"><a href="" class="socials__link"><img src="{{iconsrc}}icon-twitter.png" alt="twitter"></a></li>
                    <li class="socials__item"><a href="" class="socials__link"><img src="{{iconsrc}}icon-facebook.png" alt="facebook"></a></li>
                    <li class="socials__item"><a href="" class="socials__link"><img src="{{iconsrc}}icon-vk.png" alt="vk"></a></li>
                </ul>
            </div>
            <div class="col-3">
                <a href="tel:1234243123" class="footer__phone">1 234 243 123</a>
            </div>
            </div>
        </div>
    </div>
</footer>