<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Gallery</h2>
                <ul class="gallery__images">
                    <li class="gallery__column">
                        <div class="gallery__row"><img src="img/gallery-image-1.jpg" alt="gallery-image"></div>
                        <div class="gallery__row"><img src="img/gallery-image-4.jpg" alt="gallery-image"></div>
                    </li>
                
                    <li class="gallery__column">
                        <div class="gallery__row"><img src="img/gallery-image-2.jpg" alt="gallery-image"></div>
                        <div class="gallery__row"><img src="img/gallery-image-5.jpg" alt="gallery-image"></div>
                    </li>
                
                    <li class="gallery__column">
                        <div class="gallery__row"><img src="img/gallery-image-3.jpg" alt="gallery-image"></div>
                        <div class="gallery__row"><img src="img/gallery-image-6.jpg" alt="gallery-image"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>