<div class="journal">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title">Our Journal</h1>
                <ul class="journal__posts">
                    <li class="journal__post journal__image">
                        <img src="{{ imgsrc }}journal-post-1.jpg" class="journal__image__bg" alt="forest">
                        <img src="{{ iconsrc }}icon-journal-heart.png" class="journal__icon" alt="icon-heart">
                    </li>
                    <li class="journal__post journal__post--love">
                        <div class="journal__content">
                            <span class="journal__content__label">Love</span>
                            <h3 class="journal__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</h3>
                            <p class="journal__content__text">You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about <br>your experience and skills.</p>
                            <span class="journal__content__page">01</span>
                        </div>
                    </li>
                    <li class="journal__post journal__image">
                        <img src="{{ imgsrc }}journal-post-2.jpg" class="journal__image__bg" alt="lake">
                        <img src="{{ iconsrc }}icon-journal-drop.png" class="journal__icon" alt="icon-drop">
                    </li>
                    <li class="journal__post journal__post--tree">
                        <div class="journal__content">
                            <span class="journal__content__label">Tree</span>
                            <h3 class="journal__content__title">Lorem ipsum dolor sit<br> amet, <span>consectetur</span> adipisicing elit,</h3>
                            <p class="journal__content__text">The way to a successful brand is hard, <br>but always very interesting. Share the full<br> story of your project – from the very <br>first day until now.</p>
                            <span class="journal__content__page">02</span>
                        </div>
                    </li>
                    <li class="journal__post journal__image">
                        <img src="{{ imgsrc }}journal-post-3.jpg" class="journal__image__bg" alt="mountains">
                        <img src="{{ iconsrc }}icon-journal-leaf.png" class="journal__icon" alt="icon-leaf">
                    </li>
                    <li class="journal__post journal__post--water">
                        <div class="journal__content">
                            <span class="journal__content__label">Water</span>
                            <h3 class="journal__content__title">LITTLE PIECES OF <br>OUR PROUDNESS <br><br></h3>
                            <p class="journal__content__text">What do you do better than your<br> competitors? What are you proud of?<br> What details and advantages of your<br> product you want people to know about?</p>
                            <span class="journal__content__page">03</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>