<div class="work">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="title">How we work</h2>
            </div>
            <div class="col-10">
                <div class="work__bg">
                    <img src="img/work-proccess.png" alt="work">
                </div>
            </div>
            <div class="col-12">
                <ul class="work__list">
                    <li class="work__item">
                        <img src="img/work-item-1.png" alt="work-item-1">
                        <h3 class="work__title">Lorem ipsum dolor sit</h3>
                        <p class="work__text">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </li>
                    <li class="work__item">
                        <img src="img/work-item-2.png" alt="work-item-2">
                        <h3 class="work__title">Lorem ipsum dolor sit</h3>
                        <p class="work__text">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </li>
                    <li class="work__item">
                        <img src="img/work-item-3.png" alt="work-item-3">
                        <h3 class="work__title">Lorem ipsum dolor sit</h3>
                        <p class="work__text">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </li>
                    <li class="work__item">
                        <img src="img/work-item-4.png" alt="work-item-4">
                        <h3 class="work__title">Lorem ipsum dolor sit</h3>
                        <p class="work__text">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>